---
import '../style/globals.css'
import Layout from '@layouts/default.astro'
import Tab from '@sc/StartTab.svelte'
import Button from '@sc/Button.svelte'
import Dialog from '@sc/Dialog.svelte'
import {Icon} from "astro-icon/components";
---

<Layout>
    <Tab client:only="svelte"/>
    <div class="absolute bottom-5 right-5">
        <Button
            client:only="svelte"
            id="create-project"
        >
            <Icon name="ic:round-add" class="w-10 h-10 text-white"/>
        </Button>
    </div>
    <Dialog
        data-is-open="false"
        id="create-project-dl"
        class="data-[is-open='true']:block data-[is-open='false']:hidden"
        title="Create Project"
        client:only="svelte"
    >
        <div class="p-4">
            <div class="flex justify-end mt-4">
                <p>hello</p>
            </div>
        </div>
    </Dialog>

    <script>
        let isModalOpen = false
        const button = document.querySelector('#create-project')
        const dialog = document.querySelector('#create-project-dl')

        console.log(button,dialog)
        button?.addEventListener('click', () => {
            isModalOpen = !isModalOpen
            console.log(isModalOpen)

            dialog?.setAttribute('data-is-open', isModalOpen.toString())
        })
    </script>
</Layout>