---
import '../style/globals.css'
import Layout from '@layouts/default.astro'
import Tab from '@sc/StartTab.svelte'
import Button from '@sc/Button.svelte'
import Dialog from '@sc/Dialog.svelte'
import {Icon} from "astro-icon/components";
---

<Layout>
    <div class="w-full h-full flex p-4">
        <Tab client:only="svelte"/>
    </div>
    <div class="absolute bottom-8 right-8" id="create-project">
        <Button
                client:only="svelte"
        >
            <Icon name="ic:round-add" class="w-10 h-10 text-white"/>
        </Button>
    </div>

    <div id="create-project-dl">
        <div
                data-is-open="false"
                class="data-[is-open='true']:opacity-100 data-[is-open='false']:opacity-0 data-[is-open='false']:pointer-events-none transition-opacity duration-300 z-40 fixed inset-0 bg-black bg-opacity-50"
        >
            <div class="absolute w-[600px] h-[500px] flex flex-col rounded-2xl shadow p-4 bg-white z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                <div class="flex justify-end">
                    <button
                            class="w-10 h-10 flex justify-center items-center"
                            id="close-dialog"
                    >
                        <Icon name="ic:round-close" class="w-6 h-6 text-sky-500"/>
                    </button>
                </div>
                <Dialog client:only="svelte"/>
            </div>
        </div>
    </div>

    <script is:inline slot="scripts">
        let isModalOpen = false
        document.addEventListener('DOMContentLoaded', () => {
            const button = document.querySelector('#create-project')
            const dialog = document.querySelector('#create-project-dl')

            console.log(button, dialog)
            button?.addEventListener('click', () => {
                console.log('clicked')
                isModalOpen = !isModalOpen
                if (dialog.children.length > 0) {
                    dialog.children[0].setAttribute('data-is-open', isModalOpen.toString())
                    dialog.children[0].querySelector('#close-dialog').addEventListener('click', () => {
                        isModalOpen = false
                        dialog.children[0].setAttribute('data-is-open', isModalOpen.toString())
                    })
                    dialog.children[0].addEventListener('click', (e) => {
                        if (e.target === dialog.children[0]) {
                            isModalOpen = false
                            dialog.children[0].setAttribute('data-is-open', isModalOpen.toString())
                        }
                    })
                }
            })
        })
    </script>
</Layout>